@import "tailwindcss";

@font-face {
  font-family: "LexendDeca-B";
  src: url("../assets/fonts/LexendDeca-Bold.ttf");
}

@font-face {
  font-family: "LexendDeca-R";
  src: url("../assets/fonts/LexendDeca-Regular.ttf");
}

@font-face {
  font-family: "LexendDeca-E";
  src: url("../assets/fonts/LexendDeca-ExtraBold.ttf");
}

@layer base{
  a{
    cursor: pointer;
  }
}

@theme {
  /*Fonts */
  --font-lexend-b: "LexendDeca-B";
  --font-lexend-r: "LexendDeca-R";
  --font-lexend-eb: "LexendDeca-E";

  /* Colors */
  --color-neon: #CCFF00;
  --color-neon-hover: #B8E600;
  
  --color-brand-dark: #000000;
  --color-brand-muted: #52525B;
  --color-brand-border: #E4E4E7;
}